In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [ ]:
train = pd.read_csv('train_final.csv')
test = pd.read_csv('test_final.csv')

Анализ данных

In [ ]:
train.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reserved_room_type,assigned_room_type,booking_changes,deposit_type,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status_date
0,Resort Hotel,0,3,2016,February,7,12,0,2,2,...,E,F,0,No Deposit,0,Transient,81.0,1,0,2016-02-14
1,City Hotel,1,50,2016,November,47,18,1,2,2,...,A,A,0,No Deposit,0,Transient,93.6,0,2,2016-10-09
2,City Hotel,0,14,2015,September,37,7,1,5,2,...,F,F,0,No Deposit,0,Contract,166.0,0,3,2015-09-13
3,City Hotel,0,18,2015,December,50,6,2,0,2,...,A,A,0,No Deposit,0,Transient,107.0,0,0,2015-12-08
4,City Hotel,1,263,2016,September,40,29,2,4,2,...,A,A,0,No Deposit,0,Transient,100.3,0,0,2016-01-18

In [ ]:
test.head()

In [ ]:
train.info()

In [ ]:
test.info()

In [ ]:
print(train.shape, test.shape)

In [ ]:
train.isna().sum()

In [ ]:
test.isna().sum()

In [ ]:
train['is_canceled'].value_counts()

0    31354
1    13284
Name: is_canceled, dtype: int64

1.   В данных есть разные типы данных, нужно устранить категориальные признаки
2.   Отсутствуют пропуски
3.   Нужно восстановить колонку is_canceled
4.   Задача решается с помощью логистической регрессии
5.   Данные несбалансированные

Предобработка данных

In [ ]:
categ = train.loc[:,train.dtypes == 'object']

In [ ]:
train = train.drop(columns=['country', 'reserved_room_type', 'assigned_room_type', 'reservation_status_date'])
test = test.drop(columns=['country', 'reserved_room_type', 'assigned_room_type', 'reservation_status_date'])

In [ ]:
for i in categ:
  label_encoder = LabelEncoder()
  
  label_encoder.fit(train[i])
  
  train[i] = label_encoder.transform(train[i])
  test[i] = label_encoder.transform(test[i])

In [ ]:
train.loc[:,train.dtypes == 'object']

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[44638 rows x 0 columns]

In [ ]:
# Другой путь
# train = pd.get_dummies(train, columns = ['deposit_type'])

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44638 entries, 0 to 44637
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           44638 non-null  int64
 1   is_canceled                     44638 non-null  int64
 2   lead_time                       44638 non-null  int64
 3   arrival_date_year               44638 non-null  int64
 4   arrival_date_month              44638 non-null  int64
 5   arrival_date_week_number        44638 non-null  int64
 6   arrival_date_day_of_month       44638 non-null  int64
 7   stays_in_weekend_nights         44638 non-null  int64
 8   stays_in_week_nights            44638 non-null  int64
 9   adults                          44638 non-null  int64
 10  children                        44638 non-null  float64
 11  babies                          44638 non-null  int64
 12  meal                            44638 non-null  int64
 13  market_segment                  44638 non-null  int64
 14  distribution_channel            44638 non-null  int64
 15  is_repeated_guest               44638 non-null  int64
 16  previous_cancellations          44638 non-null  int64
 17  previous_bookings_not_canceled  44638 non-null  int64
 18  booking_changes                 44638 non-null  int64
 19  days_in_waiting_list            44638 non-null  int64
 20  customer_type                   44638 non-null  int64
 21  adr                             44638 non-null  float64
 22  required_car_parking_spaces     44638 non-null  int64
 23  total_of_special_requests       44638 non-null  int64
 24  deposit_type_0                  44638 non-null  uint8
 25  deposit_type_1                  44638 non-null  uint8
 26  deposit_type_2                  44638 non-null  uint8
dtypes: float64(2), int64(22), uint8(3)
memory usage: 8.3 MB